In [1]:
import pandas as pd

In [120]:
df = pd.read_excel('/home/bryan/Documents/SeqData/yeast_total_tRNAs.xlsx', skiprows=1)

In [121]:
row0 = df.loc[0]
row1 = df.loc[1]
row21 = df.loc[21]

In [109]:
positions = row0[1:].astype(int)

In [125]:
tmp_row = row1[row1 != '-'][1:]

In [126]:
''.join(tmp_row)

'GGGCGUGUKGCGUAGDCGGDAGCGCRCUCCCUUIGCOPGGGAGAGGDCUCCGGTPCGAUUCCGGACUCGUCCACCA'

In [129]:
tmp_idx = tmp_row[2:9].index
tmp_row[tmp_idx]

3    G
4    C
5    G
6    U
7    G
8    U
9    K
Name: 1, dtype: object

In [111]:
positions[positions>0].index

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45, 46, 47, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
       87, 88, 89, 90],
      dtype='object')

In [101]:
positions = row0[row0.apply(isinstance, args=(int,))]
positions = list(positions)
positions

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76]

In [100]:
len(positions)

71

In [70]:
trna_positions = row1[row1!=-1].index
trna_positions

Index(['position #',            0,            1,            2,            3,
                  4,            5,            6,            7,            8,
                  9,           10,           11,           12,           13,
                 14,           15,           16,           17,           18,
                 19,           20,           21,           22,           23,
                 24,           25,           26,           27,           28,
                 29,           30,           31,           32,           33,
                 34,           35,           36,           37,           38,
                 39,           40,           41,           42,           43,
                 44,           45,           46,           47,           48,
                 49,           50,           51,           52,           53,
                 54,           55,           56,           57,           58,
                 59,           60,           61,           62,           63,
                 64,           65,           66,           67,           68,
                 69,           70,           71,           72,           73,
                 74,           75,           76,           77,           78,
                 79,           80,           81,           82,           83,
                 84,           85,           86,           87,           88,
                 89,           90],
      dtype='object')

In [66]:
trna_positions = trna_positions[1:]

In [67]:
len(trna_positions)

90

In [48]:
data = zip(list(row0), list(row21))

In [49]:
data = list(data)

In [53]:
data

[("5'", 'Phe'),
 (-1, nan),
 (1, 'G'),
 (2, 'C'),
 (3, 'G'),
 (4, 'G'),
 (5, 'A'),
 (6, 'U'),
 (7, 'U'),
 (8, 'U'),
 (9, 'A'),
 (10, 'L'),
 (11, 'C'),
 (12, 'U'),
 (13, 'C'),
 (14, 'A'),
 (15, 'G'),
 (16, 'D'),
 (17, 'D'),
 (18, 'G'),
 (19, 'G'),
 (20, 'G'),
 ('-1', '-'),
 ('-1', '-'),
 ('21', 'A'),
 (22, 'G'),
 (23, 'A'),
 (24, 'G'),
 (25, 'C'),
 (26, 'R'),
 (27, 'C'),
 (28, 'C'),
 (29, 'A'),
 (30, 'G'),
 (31, 'A'),
 (32, 'B'),
 (33, 'U'),
 (34, '#'),
 (35, 'A'),
 (36, 'A'),
 (37, 'Y'),
 (38, 'A'),
 (39, 'P'),
 (40, '?'),
 (41, 'U'),
 (42, 'G'),
 (43, 'G'),
 (44, 'A'),
 ('45', 'G'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('-1', '-'),
 ('46', 7),
 ('47', 'U'),
 ('48', 'C'),
 (49, '?'),
 (50, 'U'),
 (51, 'G'),
 (52, 'U'),
 (53, 'G'),
 (54, 'T'),
 (55, 'P'),
 (56, 'C'),
 (57, 'G'),
 (58, '"'),
 (59, 'U'),
 (60, 'C'),
 (61, 'C'),
 (62, 'A'),
 (63, 'C'),
 (64, 'A'),
 (65, 'G'),
 (66, 'A'),
 (67, 'A'),
 (68, 'U'),
 (69, 'U'),
 (70, 'C'),
 (71, 'G'),
 (72, 'C'),
 (73, 'A'),
 (74, 'C'),
 (75, 'C'),
 (76, 'A')]

In [45]:
df.loc[0:2]

,position #,0,1,2,3,4,5,6,7,8,...,81,82,83,84,85,86,87,88,89,90
0,5',-1,1,2,3,4,5,6,7,8,...,67,68,69,70,71,72,73,74,75,76
1,Ala,NaN,G,G,G,C,G,U,G,U,...,U,C,G,U,C,C,A,C,C,A
2,Arg,NaN,G,C,U,C,G,C,G,U,...,G,U,G,A,G,U,G,C,C,A

In [153]:
with open('tmp.txt', 'r') as f:
    txt = f.read()
    print(txt)

[2, 3, 5, 6, 7, 9, 10, 11, 13, 17, 19, 22]
[71, 72, 74, 75, 76, 77]
[35, 39, 51, 62, 67, 73, 75, 76]
[70, 71, 72, 73, 74, 75]
[37, 40, 60, 62, 63, 64, 71, 72, 73]
[4, 5, 6, 7, 8, 9, 16, 17, 18]
[62, 63, 64, 65, 73, 74, 75, 76]
[50, 63, 64, 72, 74, 75]
[72, 73, 74, 75]
[71, 72, 73]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 22, 24]
[71, 72, 74, 75, 76, 77]
[58, 73, 75, 76]
[38, 56, 60, 61, 62, 69, 70, 71, 72, 73, 74, 75]
[62, 71, 72, 73]

In [192]:
def calc_consecutive(line):
    l = line.strip('][\n').split(', ')
    l = [int(i) for i in l]
    print(l)
    return l

In [193]:
with open('tmp.txt', 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        print('---> {}'.format(line))
        calc_consecutive(line)
        break

---> [2, 3, 5, 6, 7, 9, 10, 11, 13, 17, 19, 22]

[2, 3, 5, 6, 7, 9, 10, 11, 13, 17, 19, 22]

In [199]:
l = [2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15]
np.diff(sorted(l))

array([1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1])

In [1]:
from itertools import groupby, count

l = [2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15]
res = groupby(l, lambda n, c=count(): n-next(c))
def as_range(iterable): # not sure how to do this part elegantly
    l = list(iterable)
    if len(l) > 1:
        return '{0}-{1}'.format(l[0], l[-1])
    else:
        return '{0}'.format(l[0])

for _, g in res:
    ','.join(as_range(g))

In [30]:
def format_poslist(numberlist):
    """given number list, for example [2, 3, 4, 5, 6, 7, 9, 10, 11]
    return [[2, 7], [9-11]]
    """
    prev_number = min(numberlist) if numberlist else None
    poslist = list()

    for number in sorted(numberlist):
        if number != prev_number+1:
            poslist.append([number])
        elif len(poslist[-1]) > 1:
            poslist[-1][-1] = number
        else:
            poslist[-1].append(number)
        prev_number = number

    return poslist

In [31]:
l = [2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 19, 20, 23, 25, 26, 29, 30, 31]
l = formatpagelist(l)
print(l)
[i for i in l if len(i) > 1 and i[1] - i[0] > 1]

# [i for i in l]

[[2, 7], [9, 15], [19, 20], [23], [25, 26], [29, 31]]

[[2, 7], [9, 15], [29, 31]]

In [33]:
list(range(2, 7))

[2, 3, 4, 5, 6]

In [144]:
txt

'[2, 3, 5, 6, 7, 9, 10, 11, 13, 17, 19, 22]\n[71, 72, 74, 75, 76, 77]\n[35, 39, 51, 62, 67, 73, 75, 76]\n[70, 71, 72, 73, 74, 75]\n[37, 40, 60, 62, 63, 64, 71, 72, 73]\n[4, 5, 6, 7, 8, 9, 16, 17, 18]\n[62, 63, 64, 65, 73, 74, 75, 76]\n[50, 63, 64, 72, 74, 75]\n[72, 73, 74, 75]\n[71, 72, 73]\n[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 22, 24]\n[71, 72, 74, 75, 76, 77]\n[58, 73, 75, 76]\n[38, 56, 60, 61, 62, 69, 70, 71, 72, 73, 74, 75]\n[62, 71, 72, 73]\n'

In [132]:
import re

In [145]:
txt = txt.replace('[', '')
txt = txt.replace(']', '')
txt = txt.replace('\n', ',')
txt = txt.replace(' ', '')
re.split(',', txt)

['2',
 '3',
 '5',
 '6',
 '7',
 '9',
 '10',
 '11',
 '13',
 '17',
 '19',
 '22',
 '71',
 '72',
 '74',
 '75',
 '76',
 '77',
 '35',
 '39',
 '51',
 '62',
 '67',
 '73',
 '75',
 '76',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '37',
 '40',
 '60',
 '62',
 '63',
 '64',
 '71',
 '72',
 '73',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '16',
 '17',
 '18',
 '62',
 '63',
 '64',
 '65',
 '73',
 '74',
 '75',
 '76',
 '50',
 '63',
 '64',
 '72',
 '74',
 '75',
 '72',
 '73',
 '74',
 '75',
 '71',
 '72',
 '73',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '17',
 '18',
 '20',
 '22',
 '24',
 '71',
 '72',
 '74',
 '75',
 '76',
 '77',
 '58',
 '73',
 '75',
 '76',
 '38',
 '56',
 '60',
 '61',
 '62',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '62',
 '71',
 '72',
 '73',
 '']

In [168]:
l = re.split('[,|\[|\]|\n]', txt)

In [170]:
l = [int(i) for i in l if i != '']

In [171]:
import collections
counter = collections.Counter(l)

In [172]:
counter

Counter({2: 2,
         3: 2,
         5: 3,
         6: 3,
         7: 3,
         9: 3,
         10: 2,
         11: 2,
         13: 2,
         17: 3,
         19: 1,
         22: 2,
         71: 7,
         72: 9,
         74: 7,
         75: 9,
         76: 5,
         77: 2,
         35: 1,
         39: 1,
         51: 1,
         62: 5,
         67: 1,
         73: 9,
         70: 2,
         37: 1,
         40: 1,
         60: 2,
         63: 3,
         64: 3,
         4: 2,
         8: 2,
         16: 1,
         18: 2,
         65: 1,
         50: 1,
         12: 1,
         14: 1,
         15: 1,
         20: 1,
         24: 1,
         58: 1,
         38: 1,
         56: 1,
         61: 1,
         69: 1})

In [173]:
count_dict = {x: l.count(x) for x in l}

In [179]:
import numpy as np
counts_res = np.unique(l, return_counts=True)

In [183]:
counts_res[1]

array([2, 2, 2, 3, 3, 3, 2, 3, 2, 2, 1, 2, 1, 1, 1, 3, 2, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 5, 3, 3, 1, 1, 1, 2, 7, 9, 9, 7, 9,
       5, 2])

In [2]:
df = pd.read_csv('/Users/bryan/Studio/tools/symbol_mapping.csv')

In [8]:
df.Mass

0       306.1656
1       305.1808
2       329.2055
3       345.2049
4            NaN
5       343.2320
6       343.2320
7       397.3222
8       443.4137
9       343.2320
10      474.3186
11      488.3451
12      520.4101
13      343.2320
14      330.1903
15      344.2168
16      541.2997
17      413.3216
18           NaN
19      321.2464
20      344.2168
21      347.2174
22      319.2073
23      319.2073
24      433.3526
25      333.1909
26      347.2174
27           NaN
28      359.2314
29      359.2314
         ...
34      386.2567
35      471.3576
36      633.4978
37      633.4978
38      212.0942
39      602.4442
40           NaN
41      349.2332
42      322.2312
43      320.1921
44      322.2312
45      363.2168
46      378.2281
47      365.2988
48      394.2937
49      380.2010
50      336.1915
51      393.2427
52      409.3083
53      407.2692
54      394.2275
55      407.2692
56      377.2433
57      308.1814
58    C9H11N2O8P
59      320.1921
60      320.1921
61      320.1921
62      336.2577
63      334.2186
Name: Mass, Length: 64, dtype: object

# yeast mapping

In [2]:
import pandas as pd
base = pd.read_excel('/Users/bryan/Studio/tools/phe_base.xlsx')
mod = pd.read_excel('/Users/bryan/Studio/tools/phe_mod.xlsx')

mod_base_mask = mod.Base.isin(['A', 'C', 'G', 'U'])
reg_idxs = mod[mod_base_mask].index
mod = mod.drop(reg_idxs)
base = base.drop(reg_idxs)
mod = mod[['Mass', 'Base']]
base = base[['Mass', 'Base']]
diff = pd.DataFrame()
# diff['idx'] = base.index
diff['RegBase'] = base.Base
diff['ModBase'] = mod.Base
diff['diff'] = mod.Mass - base.Mass

diff['RegBase'] = base.Base

symbol = pd.read_csv('/Users/bryan/Studio/tools/symbol_mapping.csv')
symbol = symbol[['Code', 'Symbol', 'Mass']].dropna()
symbol[symbol.Code == '+']['Mass'].values[0]
mod['Base'].map(lambda x: symbol[symbol.Code == x]['Symbol'].values[0])
mod_value = mod['Base'].map(lambda x: symbol[symbol.Code == x]['Mass'].values[0])
base_value = base['Base'].map(lambda x: symbol[symbol.Code == x]['Mass'].values[0])

(mod_value - base_value).sum()
diff['RegMass'] = base_value
diff['ModMass'] = mod_value
diff['PerDiff'] = mod_value - base_value
diff.rename(columns={'diff': 'DiffSum'}, inplace=True)
diff.rename(columns={'PerDiff': 'Diff'}, inplace=True)
diff[['RegBase', 'RegMass', 'ModBase', 'ModMass', 'Diff', 'DiffSum']]
diff = diff[['RegBase', 'RegMass', 'ModBase', 'ModMass', 'Diff', 'DiffSum']]
diff
diff.to_excel('/Users/bryan/Downloads/phe.xlsx')
mod_csv = pd.read_csv('/Users/bryan/Studio/tools/mod.csv')
mod_csv.rename(columns={'Exact Mass': 'Mass'}, inplace=True)
diff = mod_csv.Mass - mod_csv.RegMass
diff = diff[diff > 0]
diff.unique().shape, diff.shape

((13,), (22,))